@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: #000;
    color: #999;
    text-decoration: none;
}

.topnav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 7%;
    top: 0%;
    left: 0%;
    right: 0%;
    margin-bottom: 80px;
    overflow: hidden;
    z-index: 1;
  }

  .logo img{
    top: 0%;
    left: 0.5%;
    bottom: 0.5%;
    width: 100%;
    height: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bebas Neue', serif;
    font-size: 17px;
  }

  .topnav .logout{
    display: flex;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Bebas Neue', serif;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #000;
    color: whitesmoke;
  }
  
  .topnav a.active {
    background-color: rgb(219, 0, 0);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .top-image {
    width: 98%;
    height: 35%;
    position: relative;
    background: url(../images/background.png) no-repeat center center/cover;
    margin: auto;
  }

  .container {
    background-color: #111;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 1%;
    right: 2%;
    width: 98%;
    height: 95%;
  }

  .results .author {
    display: inline-block;
    font-family: 'Bebas Neue', serif;
    font-size: 14px;
  }

  .results .title {
    font-family: 'Bebas Neue', serif;
    color: whitesmoke;
    align-items: center;
    font-size: 16px;
  }

  .results .text_content {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: whitesmoke;
    align-items: center;
    font-size: 12px;
    margin-bottom: 2%;
  }

  .results .published {
    display: inline-block;
    font-family: 'Bebas Neue', serif;
    font-size: 12px;
  }


  footer {
    position: fixed;
    width: 100%;
    height: 8%;
    bottom: 0%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', serif;
    font-size: 0.8rem;
    color: #333;
    z-index: 2;
}

footer a {
    color: #777;
    text-decoration: hover;
}
